DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
NODE_ENV=development
MONITOR_ROLE_ID=

PROXY_ENABLED=false
PROXY_TYPE=http
PROXY_URL=
PROXY_CONNECT_TIMEOUT_MS=10000
PROXY_HEALTHCHECK_INTERVAL_MS=60000
PROXY_RETRY_DELAY_MS=5000
PROXY_RETRY_FACTOR=2
PROXY_RETRY_MAX_DELAY_MS=60000